nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 1em;
  padding-left: 1em;
}

nav ul li {
  list-style-type: none;
}

.button-54 {
  display: block;
  font-family: "Lucida Sans", sans-serif;
  background-color: #ffcd29;
  font-size: small;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.2em 0.2em 0.2em 0.2em;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  width: 6.8em;
}

.button-54-active {
  background-color: #2997fd;
  color: #000000;
  border-color: #000000;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
